/************************
*		VARIABLES		*
************************/
/*	Colors
************************/
/************************
*		TYPOGRAPHY		*
************************/
/*	Webfonts
************************/
@import url("http://fonts.googleapis.com/css?family=Fira+Sans:300,400,500");
@import url("http://fonts.googleapis.com/css?family=Fira+Mono:400");
body {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  color: #1e1e1e;
  background-color: white;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
  text-align: left;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: inherit;
  -moz-font-variant-ligatures: inherit;
  font-variant-ligatures: inherit;
  overflow-x: hidden;
  word-wrap: normal;
}

a {
  color: #7d7d7d;
  text-decoration: none;
  text-shadow: 0px 1px 0px white;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(88%, white), color-stop(90%, #aaaaaa), color-stop(93%, white));
  background-image: -webkit-linear-gradient(top, white 88%, #aaaaaa 90%, white 93%);
  background-image: linear-gradient(to bottom, white 88%, #aaaaaa 90%, white 93%);
  background-repeat: repeat-x;
}
a:hover {
  color: #1e1e1e;
  text-decoration: none;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(88%, white), color-stop(90%, #646464), color-stop(93%, white));
  background-image: -webkit-linear-gradient(top, white 88%, #646464 90%, white 93%);
  background-image: linear-gradient(to bottom, white 88%, #646464 90%, white 93%);
}

a.inactive {
  color: gainsboro;
  text-decoration: none;
  background-image: none;
}
a.inactive:hover {
  color: gainsboro;
  text-decoration: none;
  background-image: none;
  cursor: pointer;
}

b, strong {
  font-weight: 500;
}

i, em {
  font-style: italic;
  font-weight: 200;
}

small {
  font-size: 0.6rem;
}

p {
  margin-bottom: 0.7rem;
}

h1 {
  font-size: 1.75rem;
  line-height: 1em;
  font-weight: 500;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h1:first-child {
  margin-top: 0;
}

h2 {
  border-top: 1px solid whitesmoke;
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 500;
  margin-top: 5rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

h2:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}

h3 {
  line-height: 1em;
  font-weight: 500;
  padding-top: 1rem;
  margin-top: 1rem;
  padding-bottom: 0.6rem;
}

h3:first-child, h2 + h3 {
  margin-top: 0;
  padding-top: 0;
}

ul, ol {
  margin-bottom: 0.7rem;
}

ul li {
  list-style: none;
}
ul li:before {
  content: "_";
  padding-right: .2rem;
  margin-left: -.7rem;
}

::-moz-selection {
  color: white;
  background: #1e1e1e;
}

::selection {
  color: white;
  background: #1e1e1e;
}

cite {
  font-size: 13px;
  color: gainsboro;
  padding: 0.2rem 0.2rem;
  display: inline-block;
  width: 100%;
}
cite a {
  color: gainsboro;
  text-decoration: none;
  background: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
cite a:hover {
  color: #aaaaaa;
  background: none;
}

blockquote {
  color: #7d7d7d;
  background-color: whitesmoke;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 1rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}

.tag {
  font-family: "Fira Mono", monospace;
  font-size: 0.85em;
  padding: 0 2px;
  border-radius: 3px;
  color: #7d7d7d;
  background-color: whitesmoke;
}

.code-snippet {
  font-family: "Fira Mono", monospace;
  font-size: 13px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 3px;
}
.code-snippet .lines {
  color: #aaaaaa;
  background-color: gainsboro;
  border-radius: 3px 0 0 3px;
  padding: 0.5rem 0.3rem;
  text-align: right;
  float: left;
  display: block;
  overflow: hidden;
  width: 5.3%;
}
.code-snippet code {
  float: left;
  display: block;
  -moz-tab-size: 3;
  -o-tab-size: 3;
  tab-size: 3;
  color: #7d7d7d;
  background-color: whitesmoke;
  border-radius: 0 3px 3px 0;
  padding: 0.5rem 0.7rem;
  width: 94.7%;
  overflow-wrap: normal;
  overflow-x: auto;
}

h1 + .code-snippet, h2 + .code-snippet, h3 + .code-snippet {
  margin-top: 0;
}

.code-snippet.split code {
  width: 50% !important;
  border-radius: 0;
  border: 1px solid gainsboro;
  border-left: none;
}
.code-snippet.split .result {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  float: left;
  display: block;
  color: #7d7d7d;
  border: 1px solid gainsboro;
  border-left: none;
  border-radius: 0 3px 3px 0;
  padding: 1rem;
  overflow-wrap: normal;
  overflow-x: auto;
  width: 44.7%;
}
.code-snippet.split .result li {
  margin-left: 20px;
}
.code-snippet.split .result ul li {
  list-style: disc outside none;
  display: list-item;
}
.code-snippet.split .result ul li:before {
  content: "";
  padding-right: 0;
  margin-left: 0;
}
.code-snippet.split .result q {
  font-style: italic;
}
.code-snippet.split .result span.cite {
  color: gainsboro;
  font-style: italic;
}
.code-snippet.split .result code {
  display: inline;
  color: #7d7d7d;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}

img {
  width: 100%;
  display: block;
  margin: 4rem 0;
}

/************************
*		STRUCTURE		*
************************/
main {
  width: 100%;
}

article {
  margin: 0 auto;
  max-width: 800px;
  padding: 4rem;
}

/************************
*		CONTENTS		*
************************/
/************************
*		RESPONSIVE		*
************************/
/************************
*		CLEARFIX		*
************************/
.cf:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .cf {
  display: block;
}

* html .cf {
  height: 1%;
}

/*************************************************/
